 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
    body {
        font-family: 'Times New Roman';
        background-color: #f4f4f4;
        color: #333;
        line-height: 1.5;
    }
      /* Nav Bar Styles */
    .container {
        width: auto;
        margin: auto;
        overflow: hidden;
    }
    header {
        background-color: #24252a;
        padding: 20px 0;
        position: sticky;
        top: 0;
        z-index: 1000;
     }
     header .container {
       display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    .title {
        color: white;
        margin: 0;
        padding-left: 20px;
        font-size: 50px;
        font-weight: 600;
    }
    .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-links li {
        display: inline-block;
        padding: 0 20px
    }
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 23px;
        padding: 5px 10px;
        font-weight: 450;
    }
    .nav-links li a:hover {
        background-color:#434345 ;
        border-radius: 5px;
    }
    /* Nav Bar Styles */


    /* Main Styles  */
main {
    width: 80%;
    margin: 20px auto;
}
    /* Main Styles */

    /* Section Styles / Article Styles */
    
    main section {
        margin-bottom: 40px;
        padding: 20px 25px;
        background-color: white;
        border: #24252a 1px solid;
        border-radius: 10px;
    }
     main section h2{
        color: #444;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    main section p {
        margin-bottom: 10px;
    }
    .use-case {
        background: white;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 20px;
    }

    .use-case {
    margin-top: 0;
    margin-bottom:10px;
    color: #333;
    font-size: 16px;
}
    /* Section Styles / Article Styles */