 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html {
    scroll-behavior: smooth;
    scroll-padding-top: 1px;
 }

    body {
        background-color: #f4f4f4;
        color: #333;
        font-family: 'Times New Roman', serif;
        line-height: 1.5;
    }
      /* Nav Bar Styles */
    .container {
        width: auto;
        margin: auto;
        overflow: hidden;
    }
    header {
        background-color: #24252a;
        padding: 20px 0;
        position: sticky;
        top: 0;
        z-index: 1000;
     }
     header .container {
       display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    .title {
        color: white;
        margin: 0;
        padding-left: 20px;
        font-size: 50px;
        font-weight: 600;
    }
    .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-links li {
        display: inline-block;
        padding: 0 20px
    }
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 23px;
        padding: 5px 10px;
        font-weight: 450;
    }
    .nav-links li a:hover {
        background-color:#434345 ;
        border-radius: 5px;
    }
    /* Nav Bar Styles */


    /* Main Styles  */
main {
    max-width: 2000px;
    margin: 25px auto;
}
    /* Main Styles */

    /* Section Styles / Article Styles */
    
    main section {
        background-color: white;
        border-radius: 10px;
        margin-bottom: 40px;
        padding: 20px 25px;
        scroll-margin-top: 120px;
    }
    main section h3 {
        color: #555;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 25px;
    }
     main section h2{
        color: #444;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 30px;
    }
    main section p, .bullet {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .use-case {
        background: white;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 20px;
         margin-top: 0;
        margin-bottom:10px;
        color: #333;
        font-size: 16px;
    }
    /* Section Styles / Article Styles */

    /* Introduction Styles */
  .intro-container {
    width: 100%;
  }
  .section-i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .intro-text {
    flex: 1;
    margin-right: 20px;
  }
  .intro-image {
    text-align: center;
  }
  .intro-image img {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    display: block;
    }
    /* Introduction Styles */

    /* Application Styles */
 
    .rowwrap {
        height: auto;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .user {
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 10px;
        margin: 15px;
        width: 450px;
        height: auto;
    }
    .user h3 {
       margin-bottom: 10px;
    }
    .user p {
        padding: 10px;
        font-size: 18px;
        margin: 0px;
   }
   .user img {
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
   }

     /* Application Styles */


